<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>HealthFitnessProject</display-name>

  <servlet>
    <servlet-name>UserControllerServlet</servlet-name>
    <servlet-class>org.example.project.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControllerServlet</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminControllerServlet</servlet-name>
    <servlet-class>org.example.project.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminControllerServlet</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>WorkoutControllerServlet</servlet-name>
    <servlet-class>org.example.project.controller.WorkoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkoutControllerServlet</servlet-name>
    <url-pattern>/WorkoutController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>NutritionControllerServlet</servlet-name>
    <servlet-class>org.example.project.controller.NutritionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NutritionControllerServlet</servlet-name>
    <url-pattern>/NutritionController</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
</web-app>